export/
dump/
latest/windows/obj/
latest/windows/haxe/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.haxelib/
pages/
docs/doc.xml
mods/*
!mods/readme.txt
*.flp
/wips
Git-Installer.exe
assets/images/characters/Danny BFDI.png
assets/images/characters/Danny BFDI.xml
/old psych charts
CodenameEngine.code-workspace
asepritejsontoxml/
/Chromatics/Samples
